<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipselabs.osgitools.OSGiInfrastructure.presentation.OSGiInfrastructureModelWizardID"
            name="%_UI_OSGiInfrastructureModelWizard_label"
            class="org.eclipselabs.osgitools.OSGiInfrastructure.presentation.OSGiInfrastructureModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/OSGiInfrastructureModelFile.gif">
         <description>%_UI_OSGiInfrastructureModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipselabs.osgitools.OSGiInfrastructure.presentation.OSGiInfrastructureEditorID"
            name="%_UI_OSGiInfrastructureEditor_label"
            icon="icons/full/obj16/OSGiInfrastructureModelFile.gif"
            extensions="osgi"
            class="org.eclipselabs.osgitools.OSGiInfrastructure.presentation.OSGiInfrastructureEditor"
            contributorClass="org.eclipselabs.osgitools.OSGiInfrastructure.presentation.OSGiInfrastructureActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipselabs.osgitools.OSGiInfrastructure.dependencies.presentation.DependenciesModelWizardID"
            name="%_UI_DependenciesModelWizard_label"
            class="org.eclipselabs.osgitools.OSGiInfrastructure.dependencies.presentation.DependenciesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DependenciesModelFile.gif">
         <description>%_UI_DependenciesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

</plugin>
